
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 15%;
    width: 100%;
    align-content: center;
    justify-content: space-between;
    margin-top: 20px;

}

.menu__and__logo{
    height: 50px;
    margin-left: 20px;
}

input {
   height: 50px;
    width: 1000px;
    border: 2px solid;
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 40px;
    padding-left: 70px;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.user_options {
    margin-top: 10px;
    margin-right: 20px
}

.search {
    margin-top: 15px;
}

.logo__header {
    width: 70px;
}

article {
    border: 1px solid #cfd8dc;
    width: 1000px;
    height: 180px;
    margin-left: 70px;
    margin-bottom: 25px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__article {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.data__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tittle-article {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
}

.user__article {
    height: 60px;
    margin: 10px;
}

.footer_article {
    display: flex;
    flex-direction: row;
}

.actions_article { 
    display: flex;
    flex-direction: row;
    margin: 30px 10px 10px 10px;
    align-items: center;
}

.img_user_article {
    width: 50px;
}

.img_actions {
    width: 25px;
}

.amount_like {
    margin: 10px;
}

.amount_comment {
    margin: 10px;
}